#!/usr/bin/env bash

export     AWS_ACCESS_KEY_ID="{{ duplicity.aws_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ duplicity.aws_access_key }}"
export            PASSPHRASE="{{ duplicity.passphrase }}"

PARAMS='--volsize 10 --s3-use-rrs --asynchronous-upload'
  DEST='s3+http://{{ duplicity.s3_bucket }}{% if 'development' in group_names %}-dev{% endif %}/{{ item.name }}'

# Do the backup
sudo -E duplicity $PARAMS --full-if-older-than {{ item.full_every }} {{ item.path }} $DEST

# Clean things up
sudo -E duplicity remove-older-than {{ item.keep_for }} --force --extra-clean $PARAMS $DEST
sudo -E duplicity cleanup --force $PARAMS $DEST

# Remove temporary environment variables
unset PASSPHRASE
unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY