
[global]

  netbios name  = {{ samba.name }}
  workgroup     = {{ samba.workgroup }}
  server string = {{ samba.comment }}

# Network

  socket options = TCP_NODELAY

# Name Resolution

  os level         = 15    # Beat everything except NT/2000 servers.
  local master     = yes

  {% if samba.interfaces %}
    interfaces           = {{ samba.interfaces }}
    bind interfaces only = yes
  {% endif %}

  {% if samba.broadcast %}
    remote browse sync = {{ samba.broadcast }}
    remote announce    = {{ samba.broadcast }}
  {% endif %}

  {% if samba.wins %}
    domain master        = yes
    preferred master     = yes
    wins support         = yes
    name resolve order   = wins hosts bcast
  {% else %}
    name resolve order   = bcast hosts
  {% endif %}

# Logging

  log file = /var/log/samba.log
  max log size = 1000
  syslog = 0

# Authentication

  restrict anonymous = 2
  security = user
  encrypt passwords = true
  passdb backend = tdbsam

# Security

  unix extensions = no

# Printing

  load printers = no

# Shares

{% for share in samba.shares %}

[{{ share.path }}]
  comment              = {{ share.path }}
  path                 = /home/files/{{ share.path }}
  valid users          = @{{ share.group }}
  writable             = yes
  hide dot files       = yes

  create mask          = 0660
  create mode          = 0660
  force create mode    = 0660

  directory mask       = 0770
  directory mode       = 0770
  force directory mode = 0770

{% endfor %}